.fondoLogin{
  background-color: #7fa3b4;
}

.fondoLoginCard{
  background-color: #1EABB9;
}

.cardImage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.imagenLogin{
  width: 300;
  height: 80px;
}

.buttonLogin{
  background-color: #1EABB9;
}

.imageNavBar{
  margin-top: 8px;
  width: 120;
  height: 40px;
  padding-left: 30px;
}