.fondoLogin{
  background-color: #7fa3b4;
}

.fondoLoginCard{
  background-color: #1EABB9;
}

.imagenLogin{
  width: 300;
  height: 80px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 140px;
}

.buttonLogin{
  background-color: #1EABB9;
}

.imageNavBar{
  margin-top: 8px;
  width: 120;
  height: 40px;
  padding-left: 30px;
}