.fondoLogin{
  background-image: url("../view/img/fondo-login.png");
  background-repeat: round;
  background-attachment: fixed;
  background-size: contain;
}

.fondoLoginCard{
  background-color: #1EABB9;
}

.cardImage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.imagenLogin{
  width: 280;
  height: 75px;
  margin-top: 5px;
}

.buttonLogin{
  background-color: #1EABB9;
}

.imageNavBar{
  margin-top: 8px;
  width: 120;
  height: 40px;
  padding-left: 30px;
}